#base de donnée
DB_URL=jdbc:postgresql://localhost:5432/PT_DB
DB_USERNAME=Non d'utilisateur de la base
DB_PASSWORD=mot de passe de  la base

#Keycloak infos
KEYCLOAK_ISSUER_URI=
KEYCLOAK_JWK_URI=
KEYCLOAK_TOKEN_URL=
KEYCLOAK_CLIENT_ID=
KEYCLOAK_CLIENT_SECRET=

CORS_ORIGINS=http://localhost:4200
FILE_UPLOAD_DIR=${FILE_UPLOAD_DIR:./uploads}
